.navbar {
    width: calc(100% - calc(2 * var(--navbar-padding)));
    height: 100px;
    padding: 0 var(--navbar-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--default-font);
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: white;
}



.navRight,
.navlinks,
.navBtns {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navlinks a {
    font-size: var(--visible-fontSize);
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.navBtns .getQuote {
    background: var(--primary-color);
    padding: 10px 24px;
    font-family: var(--default-font);
    color: white;
    font-size: var(--visible-fontSize);
    font-weight: 400;
    border-radius: 50px;
    border: none;
}

.navBtns .menuBtn {
    background: white;
    color: var(--primary-color);
    display: none;
    align-items: center;
    gap: 10px;
}

.navBtns .menuBtn span {
    font-size: 4px;
    display: flex;
    gap: 2px;
}

@media (max-width: 768px) {
    .navlinks {
        display: none;
    }

    .navBtns .menuBtn {
        display: flex;
    }
}