@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --default-font: "Bricolage Grotesque", sans-serif;
    --roboto: "Roboto", sans-serif;
    --visible-fontSize: 14px;
    --heading-fontSize: 48px;
}