.services-container {
    background: white;
    width: calc(100% - 2 * var(--navbar-padding));
    color: white;
    font-family: var(--default-font);
    min-height: 100vh;
    position: relative;
    padding: var(--navbar-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;


}

.card {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: var(--default-padding);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    border: none;
    height: 400px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    /* Ensure pseudo element doesn't overflow */
}

.card::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgb(0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    /* semi-transparent for frosted effect */
    top: 0;
    left: 0;
    border-radius: inherit;
    z-index: 0;
    pointer-events: none;

}

.card>* {
    position: relative;
    z-index: 1;
    /* Ensure content is above ::before */
}

.btn-container {
    width: 100%;
}

.card-link {
    height: 45px;
    font-size: var(--visible-fontSize);
    color: var(--dark);
    border: none;
    background: transparent;
    font-family: var(--default-font);
    font-size: 1rem;
    padding: 6px 18px;
    border-radius: 50px;
    background: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: 1px solid rgb(154, 154, 154);
    padding-bottom: 15px;
    margin-bottom: 0;
    color: white;
    width: 100%;
}

.card-img {
    height: 100px;
}

.card-desc {
    font-size: 1.5rem;
}

@media (max-width: 764px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);



    }
}