:root {
    --primary-color: #1E1E1E;
    --border-color: #CACACA;
    --default-padding: 30px;
    --navbar-padding: 50px;
    --default-margin: 20px;
    --dark: #1A1E1F;
    --light-dark: #232729;
    --logo-color: #D3AF37;
}