@import "./colors/main.css";
@import "./fonts/main.css";

body {
  margin: 0;
  overflow-x: hidden;
  background: white;

}

#app-root {
  position: relative;
  overflow: hidden;
  /* or visible if needed */
  z-index: 0;
}